# OSX
.DS_Store

# Node.js
node_modules/
npm-debug.log

# Webpack builds
dist/

# Cordova
cordova/www/*
cordova/www/**.*
!cordova/www/.gitkeep
cordova/plugins/
cordova/platforms/
build/
bin/

# Cordova build config
cordova-build/*.json
cordova-build/config/*.json

# IDEs
*.iml
.idea

# Other
coverage
